body {
  background-color: rgb(52, 52, 53);
}

/* Button styles */
.tool-button {
  border-radius: 20px;
  border-width: 1.2px;
  width: 40px;
  height: 40px;
  margin: 6px 6px;
  border-style: solid;
  cursor: pointer;
  background-color: rgb(218, 255, 251);
}

#pen-button {
  background-color: rgb(218, 255, 251);
}

#highlight-button {
  background-color: rgb(218, 255, 251);
}

#note-button {
  background-color: rgb(218, 255, 251);
}

#undo-button {
  background-color: rgb(218, 255, 251);
}

#save-button {
  background-color: rgb(218, 255, 251);
}

/* Color button styles */
.color-button {
  border-radius: 20px;
  border-width: 1.2px;
  width: 40px;
  height: 40px;
  margin: 6px 6px;
  border-style: solid;
  cursor: pointer;
  background-color: rgb(218, 255, 251);
}

/* Button container */
.button-container {
  display: flex;
  justify-content: space-evenly;
}

/* Button hover and active states */
button {
  transition: opacity 0.3s, transform 0.3s;
}

button img {
  width: 100%;
  height: auto;
}

#color-selector {
  display: none;
}

/* Hover and active effects */
button:hover {
  opacity: 80%;
  transform: scale(1.3);
}

button:active {
  opacity: 70%;
  transform: scale(0.95);
}

.highlight-text::selection {
  background-color: yellow;
}
